<div class="small-chat-box fadeInRight animated">

    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            2018.9.1
        </small>
        与 管理员 聊天中
    </div>

    <div class="content">

        <div class="left">
            <div class="author-name">
                管理员
                <small class="chat-date">
                    10:02
                </small>
            </div>
            <div class="chat-message active">
                你好
            </div>

        </div>
        <div class="right">
            <div class="author-name">
                游客
                <small class="chat-date">
                    11:24
                </small>
            </div>
            <div class="chat-message">
                你好，请问项目里可以用System.out.println打日志吗？
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                管理员
                <small class="chat-date">
                    08:45
                </small>
            </div>
            <div class="chat-message active">
                可以，还有附送福利
            </div>
        </div>
        <div class="right">
            <div class="author-name">
                游客
                <small class="chat-date">
                    11:24
                </small>
            </div>
            <div class="chat-message">
                什么福利？
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                管理员
                <small class="chat-date">
                    08:45
                </small>
            </div>
            <div class="chat-message active">
                1.每天中午被其他研发打一次
                <br> 2.不定时被@
                <br> ……
                <br>
            </div>
        </div>


    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control"> <span class="input-group-btn"> <button
                class="btn btn-primary" type="button">发送
                </button> </span>
        </div>
    </div>

</div>
<div id="small-chat">
    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>