<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="${ctxPath}/tools/inspinia/img/psb.jpg" width="64px" height="64px"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"><strong class="font-bold">admin</strong></span>
                            <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                        </li>
                        <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="${ctxPath}/logout">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">liberl
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span class="nav-label">系统管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="${ctxPath}/sys/user/index" data-index="0">用户管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="${ctxPath}/sys/role/index">角色管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="${ctxPath}/sys/dept/index">部门管理</a>
                    </li>
                    <!--<li>
                        <a class="J_menuItem" href="index_v4.html">菜单管理</a>
                    </li>-->
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa fa-file-text-o"></i>
                    <span class="nav-label">系统日志</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="${ctxPath}/log/opt/index">业务日志</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="${ctxPath}/log/login/index">登录日志</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-eye"></i>
                    <span class="nav-label">系统监控</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${ctxPath}/druid/index.html">数据源监控</a>
                    </li>
                    <li><a class="J_menuItem" href="${ctxPath}/monitoring">项目监控</a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</nav>