<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xjjdog.seckill.demo.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.github.xjjdog.seckill.demo.entty.GoodsDO">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="SALETYPE" jdbcType="VARCHAR" property="saleType"/>
        <result column="STOCK" jdbcType="INTEGER" property="stock"/>
    </resultMap>


</mapper>